* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(135, 238, 204);
}

.container {
    width: 80%;
    margin: auto;
}

.title-nav {
    font: 20px sans-serif;
}

.box-prayer {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
}

.time-area-prayer {
    margin: auto;
}
.time {
    background-color: #f7f3f3;
    border: 1px solid rgb(214, 209, 209);
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
